In [1]:
#import relevant packages
import pandas as pd

In [10]:
mass_shooting2014=pd.read_csv("./Resources/mass_shootings_2014.csv")
mass_shooting2015=pd.read_csv("./Resources/mass_shootings_2015.csv")
mass_shooting2016=pd.read_csv("./Resources/mass_shootings_2016.csv")
mass_shooting2017=pd.read_csv("./Resources/mass_shootings_2017.csv")
mass_shooting2018=pd.read_csv("./Resources/mass_shootings_2018.csv")
mass_shooting2019=pd.read_csv("./Resources/mass_shootings_2019.csv")

teens_injured=pd.read_csv("./Resources/Teens injured.csv")
teens_killed=pd.read_csv("./Resources/Teens killed.csv")

children_injured=pd.read_csv("./Resources/Children injured.csv")
children_killed=pd.read_csv("./Resources/Children killed.csv")

In [3]:
mass_shooting2014.head()

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"December 31, 2014",California,Los Angeles,81st Street and Western Avenue,1,3,NaN
1,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN
2,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN
3,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4,NaN
4,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN

In [11]:
mass_shooting2017.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1017372,"December 31, 2017",Colorado,Littleton (Highlands Ranch),3404 E County Line Rd,2,6,NaN
1,1017422,"December 31, 2017",Illinois,Chicago,2335 Howard St,0,4,NaN
2,1018118,"December 31, 2017",New Jersey,Long Branch,635 Wall St,4,0,NaN
3,1015666,"December 27, 2017",Nevada,Las Vegas,3750 E Bonanza Rd,2,2,NaN
4,1015336,"December 26, 2017",Florida,Miami,NW 18th Ave and 86th Ter,0,5,NaN